<ion-view>
  <ion-content class="padding">
    <h2>Photo Upload</h2>
    <button class="button button-positive" ng-click="takePhoto()">
      Take photo
    </button>
    <div>
      {{ picture }}
    </div>
    <button class="button button-balanced" ng-click="uploadPhoto()" ng-if="picture">
      Upload photo
    </button>
    <div>
      {{ uploadResults }}
    </div>
    <button class="button button-balanced" ng-click="testConnection()">
      Test server connection
    </button>
    <div>
      {{ serverConnection }}
    </div>
  </ion-content>

  </ion-content>
</ion-view>
